<body>
  <ul>
    {{#each characters}}
    {{!--CHARS NAME MISSING--}}
    <p>Movie name: {{name}}</p>
    <img src={{char_image}} alt="hhh">
    <p>Characters name: {{characters_name}}</p>
    <p>Voice actor: {{voice_actor}}</p>
    <p>Quote: {{quote}}</p>
    {{/each}}
  </ul>
</body>

</html>